*.aux
*.bbl
*.blg
*.log
*.out
*.pdf
*acmart-master*
main.pdf
*synctex.gz
*latexmk
*.fls
*.log
local
lu_ir.pdf
LA_lowerbounds.pdf
SC_LU.pdf
*tmp*
Debug
*vcxproj*
stdafx*
x64
.vs
.idea
.dacecache
.RData
.Rhistory
_dotgraphs
client_configs
perfdata-dir
venv
__pycache__
*.VC.opendb
*.VC.db
/cuda/lu_singlegpu/lu_singlegpu/Eigen/
/cuda/lu_singlegpu/lu_singlegpu/vc140.pdb
_dacegraphs
